fastapi
uvicorn
mysql-connector-python
python-multipart
pydantic
pydantic-core
pillow
opencv-python
pytesseract
python-dateutil
requests
scikit-learn
python-docx
numpy
scipy
pandas
openpyxl
transformers
torch
regex